@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

#addImage{
	display:none;

}

body{
	padding: 0;
	margin: 0;
	background-color: #e5e4f0;
	font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
}

nav ul {
	top:0;
	left: 0;
	margin: 0;
	list-style-type: none;
	clear: both;
	width: 100%;
	height: 50px;
	padding: 0;
	background-color: #f3f6ff;
}

nav ul li {
	float:left;
	line-height: 50px;
	border-right: 1px solid #cccccf;
	padding-right: 10px;
	padding-left: 10px;
}

nav ul li a {
	color: #525252;
}

nav ul li a:hover{
	color: #707070;
}

a {
	text-decoration: none;
}

#world {
	width: 100%;
	min-height: 500px;
}

.draggable { 
	position: fixed;
}

#logo {
	display: block;
	background-image: url('../images/logo.png');
	width: 74px;
	height: 51px; 
}