@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body{
	padding: 0;
	margin: 0;
	background-color: #e5e4f0;
	font-family: 'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
}

hr {
    border: none;
    background-color: #4ba2e8;
    color: #4ba2e8;
    height: 1px;
    margin: 15px 0px;
    padding: 0px;
}

.rounded {
	border-radius: 3px;
}

select, input {
	display: block;
	width: 100%;
	height: 30px;
}

nav ul {
	top:0;
	left: 0;
	margin: 0;
	list-style-type: none;
	clear: both;
	width: 100%;
	height: 50px;
	padding: 0;
	background-color: #f3f6ff;
}

nav ul li {
	float:left;
	line-height: 50px;
	border-right: 1px solid #cccccf;
	padding-right: 10px;
	padding-left: 10px;
}

nav ul li a {
	color: #525252;
}

nav ul li a:hover{
	color: #707070;
}

a {
	text-decoration: none;
}

.btn {
	padding: 0;
	margin: 0;
	font-size: 14px;
	padding: 5px;
	background-color: #ED4209;
	color: #e4e4e4;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	outline: none;
}

.btn:hover {
	background-color: #F77245;
	cursor: pointer;
}

.draggable { 
	position: fixed;
}

#logo {
	display: block;
	background-image: url('../images/logo.png');
	width: 74px;
	height: 51px; 
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	z-index: -9999;
	opacity: 0;
}

.modal .content {
	position: absolute;
	width: 400px;
	height: 360px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -180px;
	color: #dfdfdf;
	background-color: #202020;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}

.modal:target {
	opacity: 1;
	z-index: 9999;
}

.close{
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #ED4209;
	color: #FFF;
	position: absolute;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	right: -10px;
	top: -10px;
}

.close:hover{
	background-color: #F77245;
}

#world {
	display: none;
	opacity: 0;
}